<div id="anh">
<button type="button" class="btn btn-outline-primary m-lg-3" (click)="abc()">ấn thử xem</button>
<button type="button" class="btn btn-outline-secondary m-lg-3" (click)="abc1()">goku</button>
<button type="button" class="btn btn-outline-success m-lg-3" (click)="abc2()">wallpaper</button>
<button type="button" class="btn btn-outline-danger m-lg-3">Danger</button>
<button type="button" class="btn btn-outline-warning m-lg-3">Warning</button>
<button type="button" class="btn btn-outline-info m-lg-3">Info</button>
<button type="button" class="btn btn-outline-light m-lg-3">Light</button>
<button type="button" class="btn btn-outline-dark m-lg-3">Dark</button>
</div>

<button (click)="changToBlue()">blue</button>
<button (click)="changToPink()">pink</button>
<button (click)="changToYellow()">yellow</button>
<h1 [style.color]="abc3" >hí</h1>
